body {
  background-color: #eeebe2;
  font-family: Martel;
}

h1, h2, h3, h4, h5 {
  color: #443ae7;
  font-family: 'Archivo', sans-serif;
  letter-spacing: 1px
}

.blue {
  color: #443ae7;
}

p {
  /* font-family: 'Abril Fatface'; */
  /* font-size: 40px; */
}

.navbar-logo {
  width: 15rem;
}

.serif {
  font-family: 'Abril Fatface';
  letter-spacing: 1px
}

.regular {
  font-family: 'Martel';
}

.active {
  text-decoration: underline;
}

.card {
  background-color: #e2dece;
  border: none;

}

.btn-group button {
  background-color: #443ae7;
  border: 1px solid white;
  color: white; /* White text */
  padding: 10px 24px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #5a51ea;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile {
    max-width:20%;
    max-height:20%;
    width: 30%;
    float:left;
}

.portrait {
    max-width:20%;
    max-height:20%;
    width: 30%;
}
